# Protection des fichiers sensibles (Compatibilité Apache 2.2 / 2.4)
<FilesMatch "\.(sqlite|db)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
